.display {
    grid-column: span 4;
    align-items: center;
    background-color: #0004;
    display: flex;
    justify-content: right;
    font-size: 2.1em;
    padding: 20px;
    overflow: hidden;
}